.strikethrough {
    text-decoration: line-through;
}



#heading{
    color: #198754;
}

#para{
    color: #686565;
    font-weight: 400;
}

#hero{
    margin-top: 160px;
}

.sub{
    color: #f5f6f5;
    font-size: 20px;
    font-weight: 700;
}

.sub2{
     color:#e2725b;
    font-size: 16px;
    font-weight: 500;
}


.sub2:hover{
     color: #f5f6f5;
    font-size: 18px;
}
     
ul {
    list-style-type: circle;
    text-align: left;
}
.ing-list {
    list-style-type: disc;
    margin-left: 20px;

}
