.strikethrough {
    text-decoration: line-through;
}
#ul_list span{
    color: #e1e6e1;
    font-size: 20px;
    font-weight: 500;

}

#ul_list span:hover{
    color: #939693;
    font-size: 20px;
    font-weight: 800;
    cursor: pointer;
    scale: 1.1;
}

#heading{
    color: #198754;
}

#para{
    color: #686565;
}

#hero{
    margin-top: 120px;
}